.container{
    display: inline;
}

a{
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    padding: 1px 10px;
}

a:hover {
    background-color: whitesmoke;
}

.top{
    margin: 30px 30px;
}

.middle{
    background-color: white;
    padding: 50px;
}

.under{
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
}

.btn-space{
    display: flex;
    padding: 20px 30px;
    margin-bottom: 30px;
    justify-content: end;
    align-items: center;
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
}

h1 {
    font-size: 18px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

p{
    color: gray;
    line-height: 1.6;
}

li{
    line-height: 1.6;
    margin-bottom: 8px;
    display: flex;
    justify-content:space-between;
}

.delete-btn{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: normal;
    color: blue;
    cursor: pointer;
    vertical-align: 1px;
    margin-left: 15px;
    padding: 1px 3px;
    border-radius: 5px;
    transition: background-color .3s;
}

.delete-btn:hover{
    background-color: rgb(218, 218, 250);
}

img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

#empty-message{
    font-size: 16px;
    color: gray;
}

/* Jetstream-navi & welcome.blade.php */
.jetstream-link{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:grey;
    background-color: white;
}

.jetstream-link-logo{
    color: black;
}

.jetstream-link-logo-login-register{
    color: black;
    font-size: 40px;
}

.jetstream-link-btn{
    margin-left: 20px;
}

.jetstream-link-btn > a:hover{
    background-color: whitesmoke;
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
}

.welcome-logo{
    font-size: 60px;
    color: brown;
}

/* navigation-system */
.flex{
    display: flex;
    align-items: center;
}

.flex > form{
    display: flex;
    align-items: center;
}

.navigation-links{
    display: flex;
}

.search{
    margin-left: 150px;
    height: 35px;
    width: 180px;
    font-size: 12px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.submit{
    background: hsl(600, 10%, 20%);
    color: white;
    font-size: 15px;
    padding: 3px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s;
}

.submit:hover{
    background: hsl(600, 10%, 30%);
}


/* header */
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 10px;
}

.back-link {
    font-size: 14px;
    text-align: right;
    transition: background-color .3s;
    border-radius: 5px;
    padding: 5px 10px;
}

.back-link:hover {
    background-color: whitesmoke;
}


/* show.blade.php */
.show-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* scores-store.blade.php */
#scores-add{
    display: flex;
    justify-content: space-between;
}

#scores-index{
    padding: 30px 60px;
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
}

#scores-add > input{
    width: 200px;
    border-radius: 10px;
}

#scores-add > button{
    margin-left: 8px;
}

.delete-scores{
    display: inline-block;
}


/* form-parts */
.form-group{
    margin-top: 20px;
}

.title-form{
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -20px;
}

.singer-form{
    border-radius: 10px;
    margin-left: 6px;
}

#key{
    width: 70px;
    height: 43px;
    border-radius: 10px;
    margin-left: 25px;
}

textarea {
    padding: 4px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.error{
    color: red;
    font-size: 14px;
}


/* search.blade.php　ページ */
.search-body{
    margin: 20px 30px;
}

#title{
    display: flex;
}

#singer{
    display: flex;
}

#title > h2{
    padding-right: 20px;
}

.pagenate-space{
    display: inline;
    padding: 30px 10px;
}

.pagination{
    margin: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination > li{
    display: flex;
    align-items: center;
    background: hsl(600, 10%, 20%);
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background .2s;
}

.pagination > li:hover{
    background: hsl(600, 10%, 30%);
}


/* score.blade.php　ページ */

.scores-list-container > li{
    line-height: 1.6;
    margin-bottom: 10px;
    display: inline;
}

.score-body{
    background-color: white;
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
    line-height: 1.6;
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.score-icon{
    background-color: gray;
    border-radius: 50px;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-parts{
    width: 400px;
    display: inline;
}

.score-info-parts{
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
}

.score-good-part{
    margin: 10px;
    display: flex;
    justify-content: end;
}


@media(min-width: 0px) and (max-width: 639px){


}

@media(min-width: 640px) and (max-width: 799px){

    .container{
        display: inline;
    }

    .sub-container{
        margin: 0px 130px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
    }

    .top{
        margin: 40px 130px 10px 130px;
    }

    .middle{
        border-radius: 10px 10px 0px 0px;
    }

    .under{
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 0 0 0 rgb(213, 213, 213);
    }

    .btn-space{
        box-shadow: 0px 0px 0px 0px rgb(213, 213, 213);
        margin-bottom: 30px;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    .navi{
        display: none;
    }

    .navigation-links{
        display: none;
    }

    .search{
        margin-left: 170px;
    }

    .header{
        padding: 0px 20px;
    }

    .back-link {
        font-size: 16px;
    }

    .show-info{
        padding: 10px 10px;
        border-radius: 10px 10px 0px 0px;
    }

    #scores-index{
        padding: 30px 70px;
        border-radius: 0px 0px 10px 10px;
    }
}


@media(min-width: 800px){
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 30px;

    }

    .sub-container{
        width: 60%;
        margin: 50px 80px 0px 100px;
        border-radius: 10px;
        box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
    }

    .navi{
        display: none;
    }

    .search{
        width: 250px;
    }

    .back-link {
        font-size: 16px;
    }

    .top{
        align-items: center;
        padding: 0px 30px 0px 0px;
        margin-left: 80px;
    }

    .middle{
        padding: 50px 30px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgb(213, 213, 213);
    }

    .under{
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 0px 0px 0px rgb(213, 213, 213);
    }

    .btn-space{
        padding: 15px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 0px 0px rgb(213, 213, 213);
    }

    h1 {
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    /* form-parts */
    .title-form{
        width: 300px;
    }

    .singer-form{
        width: 300px;
    }

    /* score-store.blade.php */
    #scores-index{
        border-radius: 0px 0px 10px 10px;
    }

    /* search.blade.php　ページ */
    .search-body{
        margin: 20px 30px;
    }

    /* score.blade.php　ページ */
    .scores-list-container > li{
        line-height: 1.6;
        margin-bottom: 10px;
        display: inline;
    }

    .score-body{
        background-color: white;
        box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
        line-height: 1.6;
        margin: 0px;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .score-icon{
        background-color: gray;
        border-radius: 50px;
        width: 85px;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .score-parts{
        width: 400px;
        display: inline;
    }

    .score-info-parts{
        margin: 10px 10px 30px 10px;
        display: flex;
        justify-content: space-between;
    }

    .score-good-part{
        margin: 10px;
        display: flex;
        justify-content: end;
    }

}
